:root {
  --adm-color-primary: #1677ff;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;
  --adm-color-white: #ffffff;
  --adm-color-weak: #999999;
  --adm-color-light: #cccccc;
  --adm-border-color: #eeeeee;
  --adm-font-size-main: 13px;
  --adm-color-text: #333333;
  --adm-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: var(--adm-color-text);
  font-size: var(--adm-font-size-main);
  font-family: var(--adm-font-family);
}
a,
button {
  cursor: pointer;
}
a {
  color: var(--adm-color-primary);
  transition: opacity ease-in-out 0.2s;
}
a:active {
  opacity: 0.8;
}
.adm-plain-anchor {
  color: unset;
  transition: none;
}
.adm-plain-anchor:active {
  opacity: unset;
}
body.adm-overflow-hidden {
  overflow: hidden !important;
}
div.adm-px-tester {
  --size: 1;
  height: calc(var(--size) / 2 * 2px);
  width: 0;
  position: fixed;
  right: -100vw;
  bottom: -100vh;
  user-select: none;
  pointer-events: none;
}

.adm-nav-bar {
  --height: 45px;
  --border-bottom: none;
  display: flex;
  align-items: center;
  height: var(--height);
  border-bottom: var(--border-bottom);
  padding: 0 12px;
  white-space: nowrap;
}
.adm-nav-bar-left,
.adm-nav-bar-right {
  flex: 1;
}
.adm-nav-bar-title {
  flex: auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.adm-nav-bar-back {
  display: flex;
  align-items: center;
  margin-right: 12px;
  padding: 6px 0;
  cursor: pointer;
}
.adm-nav-bar-back-arrow {
  font-size: 18px;
  margin-right: 6px;
}
.adm-nav-bar-left {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.adm-nav-bar-title {
  justify-content: center;
  white-space: nowrap;
  font-size: 18px;
  padding: 0 12px;
}
.adm-nav-bar-right {
  text-align: right;
}

.adm-popup {
  --z-index: var(--adm-popup-z-index, 1000);
  position: fixed;
  z-index: var(--z-index);
}
.adm-popup-body {
  position: fixed;
  background-color: #ffffff;
  z-index: calc(var(--z-index) + 10);
}
.adm-popup-body-position-bottom {
  width: 100%;
  bottom: 0;
  left: 0;
}
.adm-popup-body-position-top {
  width: 100%;
  top: 0;
  left: 0;
}
.adm-popup-body-position-left {
  height: 100%;
  top: 0;
  left: 0;
}
.adm-popup-body-position-right {
  height: 100%;
  top: 0;
  right: 0;
}

.adm-mask {
  --z-index: var(--adm-mask-z-index, 1000);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  display: block;
  width: 100%;
  height: 100%;
}
.adm-mask-aria-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.adm-mask-content {
  z-index: 1;
}

.adm-button {
  --color: var(--adm-color-white);
  --text-color: var(--adm-button-text-color, var(--adm-color-text));
  --background-color: var(--adm-button-background-color, var(--adm-color-white));
  --border-radius: var(--adm-button-border-radius, 4px);
  --border-width: var(--adm-button-border-width, 1px);
  --border-style: var(--adm-button-border-style, solid);
  --border-color: var(--adm-button-border-color, var(--adm-border-color));
  color: var(--text-color);
  background-color: var(--background-color);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: auto;
  padding: 8px 12px;
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: opacity ease 0.15s;
  user-select: none;
}
.adm-button:focus {
  outline: none;
}
.adm-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-color: #000;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: ' ';
  box-sizing: content-box;
}
.adm-button:active::before {
  opacity: 0.08;
}
.adm-button-default.adm-button-fill-outline {
  --background-color: transparent;
  --border-color: var(--adm-color-text);
}
.adm-button-default.adm-button-fill-none {
  --background-color: transparent;
  --border-color: transparent;
}
.adm-button:not(.adm-button-default) {
  --text-color: var(--adm-color-white);
  --background-color: var(--color);
  --border-color: var(--color);
}
.adm-button:not(.adm-button-default).adm-button-fill-outline {
  --text-color: var(--color);
  --background-color: transparent;
}
.adm-button:not(.adm-button-default).adm-button-fill-none {
  --text-color: var(--color);
  --background-color: transparent;
  --border-color: transparent;
}
.adm-button-primary {
  --color: var(--adm-color-primary);
}
.adm-button-success {
  --color: var(--adm-color-success);
}
.adm-button-danger {
  --color: var(--adm-color-danger);
}
.adm-button-warning {
  --color: var(--adm-color-warning);
}
.adm-button-block {
  display: block;
  width: 100%;
}
.adm-button-disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.adm-button-disabled:active::before {
  display: none;
}
.adm-button.adm-button-mini {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 13px;
}
.adm-button.adm-button-mini.adm-button-shape-rounded {
  padding-left: 9px;
  padding-right: 9px;
}
.adm-button.adm-button-small {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 15px;
}
.adm-button.adm-button-large {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 18px;
}
.adm-button.adm-button-shape-rounded {
  --border-radius: 1000px;
}
.adm-button.adm-button-shape-rectangular {
  --border-radius: 0;
}
.adm-button-loading {
  vertical-align: bottom;
}
.adm-button-loading-wrapper {
  display: flex;
  height: 1.4em;
  align-items: center;
  justify-content: center;
}
.adm-button-loading-wrapper > .adm-loading {
  opacity: 0.6;
}

.adm-loading {
  display: inline-block;
}

.J_f2Cpuc0zWf4Ifv5PcQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
.ekQ5Wibv2SQbsrwOwC4Q {
  min-width: 214px;
}
.GNqStnThQjUUec4Fyu17 {
  margin-top: 4px;
  margin-bottom: 32px;
  color: var(--adm-color-weak);
  text-decoration: underline;
  font-size: smaller;
}

.OKnz4xXTYdooEIiYjIhX {
  background: var(--adm-background);
}
.drEgZdgN1BH3WaZh7MOe {
  width: 100%;
}
.eV9bICXDamSq9xMWe0Dw {
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
}
.nJGC8oTRceP36U3K30kV {
  width: 100%;
}
.Ax9hL2G9Vx73AeLDE4wj {
  width: 100%;
}

.adm-list {
  --prefix-width: 'auto';
  --align-items: center;
  --active-background-color: var(--adm-border-color);
  --border-inner: solid 1px var(--adm-border-color);
  --border-top: solid 1px var(--adm-border-color);
  --border-bottom: solid 1px var(--adm-border-color);
  --padding-left: 12px;
}
.adm-list-header {
  color: var(--adm-color-weak);
  font-size: 14px;
  padding-left: 12px;
  margin: 16px 0 4px;
}
.adm-list-body {
  background-color: #ffffff;
  overflow: hidden;
  font-size: 17px;
}
.adm-list-body-inner {
  margin-bottom: -1px;
}
.adm-list-default .adm-list-body {
  border-top: var(--border-top);
  border-bottom: var(--border-bottom);
}
.adm-list-card {
  margin: 12px;
}
.adm-list-card .adm-list-body {
  border-radius: 8px;
}
.adm-list-item {
  display: block;
  padding-left: var(--padding-left);
}
.adm-list-item-title,
.adm-list-item-description {
  color: var(--adm-color-weak);
  font-size: 13px;
}
.adm-list-item-content {
  display: flex;
  align-items: var(--align-items);
  justify-content: flex-start;
  padding: 12px 12px 12px 0;
  border-bottom: var(--border-inner);
}
.adm-list-item-content-prefix {
  width: var(--prefix-width);
  flex: none;
  padding-right: 12px;
}
.adm-list-item-content-main {
  flex: auto;
}
.adm-list-item-content-extra {
  flex: none;
  padding-left: 12px;
  font-size: 15px;
  color: var(--adm-color-weak);
}
.adm-list-item-content-arrow {
  flex: none;
  display: flex;
  align-items: center;
  margin-left: 4px;
  color: var(--adm-color-light);
  font-size: 18px;
}
.adm-list-item-disabled {
  cursor: not-allowed;
}
.adm-list-item-disabled.adm-list-item-disabled > .adm-list-item-content > * {
  opacity: 0.4;
  pointer-events: none;
}
a.adm-list-item:active {
  background-color: var(--active-background-color);
}
a.adm-list-item.adm-list-item-disabled:active {
  background-color: unset;
}

.q0zd4sEOscMIP4Sp0zWA {
  display: inline;
}
.P8OaXyIbfNIW3KefDj3d {
  display: flex;
  align-items: center;
}
.P8OaXyIbfNIW3KefDj3d img {
  width: 1em;
  height: 1em;
  margin-right: 0.5rem;
}

.adm-toast-mask .adm-toast-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.adm-toast-mask .adm-toast-main {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  min-width: 96px;
  max-width: 70%;
  max-height: 70%;
  overflow: auto;
  color: white;
  word-break: break-all;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  pointer-events: all;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
}
.adm-toast-mask .adm-toast-main-text {
  padding: 12px;
}
.adm-toast-mask .adm-toast-main-icon {
  padding: 35px 40px;
}
.adm-toast-mask .adm-toast-main-icon .adm-toast-icon {
  text-align: center;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1;
}
.adm-toast-loading {
  font-size: 24px;
}

.adm-auto-center {
  display: flex;
  justify-content: center;
}
.adm-auto-center-content {
  flex: 0 1 auto;
}

.adm-input-wrapper {
  --font-size: 17px;
  --color: var(--adm-color-text);
  --placeholder-color: var(--adm-color-light);
  --disabled-color: var(--adm-color-weak);
  --text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.adm-input {
  flex: auto;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  color: var(--color);
  font-size: var(--font-size);
  line-height: 1.5;
  background: transparent;
  border: 0;
  outline: none;
  appearance: none;
  min-height: 1.5em;
  text-align: var(--text-align);
}
.adm-input::placeholder {
  color: var(--placeholder-color);
  font-family: inherit;
}
.adm-input:-webkit-autofill {
  background-color: transparent;
}
.adm-input:disabled {
  color: var(--disabled-color);
  cursor: not-allowed;
  opacity: 1;
  -webkit-text-fill-color: var(--disabled-color);
}
.adm-input:read-only {
  cursor: default;
}
.adm-input:invalid {
  box-shadow: none;
}
.adm-input::-ms-clear {
  display: none;
}
.adm-input::-webkit-search-cancel-button {
  display: none;
}
.adm-input::-webkit-search-decoration {
  display: none;
}
.adm-input[type='date'],
.adm-input[type='time'],
.adm-input[type='datetime-local'] {
  min-height: 1.5em;
}
.adm-input[type='search'] {
  -webkit-appearance: none;
}
.adm-input[readonly] {
  pointer-events: none;
}
.adm-input-clear {
  flex: none;
  margin-left: 8px;
  color: var(--placeholder-color);
  padding: 3px;
  cursor: pointer;
}
.adm-input-clear .antd-mobile-icon {
  display: block;
  font-size: 14px;
}

.QQMyXR3XWYOhAW17HfUN {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
.VjDrHHsB0cW5tc7Msu80 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ujBOeBtYOcPYwMsGKJYH {
  display: flex;
  align-items: center;
  margin: 24px;
  height: 38px;
  font-size: 1.5rem;
}
.ujBOeBtYOcPYwMsGKJYH .m1gdLnBsAxHHs9EjjXiw {
  margin-left: 12px;
}
.jGsjfdKaeyKH8uKkwILb {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.jGsjfdKaeyKH8uKkwILb input {
  font-size: 1.5rem;
}
.C9xnkrgjMJE5KO5RBXc_ {
  width: 240px;
  padding: 12px;
  margin-top: 36px;
  word-wrap: break-word;
  background-color: var(--adm-color-light);
  cursor: pointer;
}

.WKpWxevcrQtGt6e0utxG {
  width: 280px;
}
.PXamSSrRffJc3MkjA9Lr {
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.mSN5zABJH136vMF89Mkv {
  width: 28px;
  height: 28px;
  margin-right: 2px;
  margin-bottom: 2px;
}
.xg9tSzRjsHKgCSYEfAEt {
  font-size: 1.2rem;
  font-weight: bold;
}
.UF54uxSS0dwp4C6tVKQ8 {
  display: flex;
  align-items: center;
}
.FIyqoeXmzroIPMR_rxFO {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: white;
  border: 2px solid #aaa;
  border-radius: 50%;
}
.FIyqoeXmzroIPMR_rxFO .oMksvLl37z_La7Rz9FcI {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
}
.hct5a1ByEtZFkdlTOvJr {
  padding-left: 12px;
}
.TVpHbzCsPYrSX9VJhoMQ {
  margin: 0;
}
.zYb04kAVy0JZyCYN5arA {
  color: var(--adm-color-weak);
  font-size: smaller;
}

.O_n4r2BBMcqCG952Bg10 {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 56px;
}
.TSFGwfRe_FTVGKgSaE2H {
  display: flex;
  align-items: center;
  width: 0;
  color: var(--adm-color-text);
  font-weight: bold;
  text-decoration: none;
}
.qanSetDQrnobiusNRdEo {
  width: 28px;
  height: 28px;
  margin-bottom: 2px;
  margin-right: 2px;
}
.YDHR1F0lflsiLrraQopT {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--adm-color-text);
}

.WKoSbtLWMeugqgt4GwLM {
  padding-top: 56px;
}

:root:root {
  --adm-color-primary: #e33638;
  --adm-background: #f8f8f8;
  --adm-font-size-main: 16px;
}
* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  overflow-x: hidden;
  background: var(--adm-background);
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: pingfang-sc, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

