@import '@/styles/variables.less';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.button {
  min-width: 214px;
}

.learnMore {
  margin-top: 4px;
  margin-bottom: 32px;
  color: @color-weak;
  text-decoration: underline;
  font-size: smaller;
}
