.container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  background: url('@/assets/images/snowman-logo.png');
  background-position-y: 1px;
  background-size: cover;
  border-radius: 50%;
}

.brandName {
  font-size: 1.2rem;
  font-weight: bold;
}
